{% extends 'home.html' %}

{% block content %}
    <div class="container player-profile" style="background-color: #f8f9fa; padding: 20px;">
        <h1 class="profile-title" style="text-align: center; margin-bottom: 20px; font-size: 28px;">Player Profile</h1>
        <div class="row">
            <div class="col-md-6">
                <!-- Display player details -->
                {% if user != request.user %}
                    {% if user in request.user.userprofile.following.all %}
                        <a href="{% url 'unfollow_user' username=user.username %}">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow_user' username=user.username %}">Follow</a>
                    {% endif %}
                {% endif %}

                <div class="profile-card" style="background-color: #fff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: flex; overflow: hidden;">
                    <div class="profile-image" style="flex: 1; max-width: 100%; padding: 20px; text-align: center;">
                        <img src="{{ profile.image.url }}" alt="Profile Image" style="max-width: 100%; height: auto; border-radius: 50%;">
                    </div>
                    <div class="profile-info" style="flex: 2; padding: 20px;">
                        <h2 class="profile-name" style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">{{ profile.Name }}</h2>
                        <p class="profile-description" style="font-size: 16px; margin-bottom: 15px;"><strong>Description:</strong> {{ profile.description }}</p>
                        <p style="font-size: 16px; margin-bottom: 10px;"><strong>Joined:</strong> {{ profile.Joined }}</p>
                        <p style="font-size: 16px; margin-bottom: 10px;"><strong>Level:</strong> {{ profile.get_levels_display }}</p>
                        <p style="font-size: 16px; margin-bottom: 10px;"><strong>Age:</strong> {{ profile.Age }}</p>
                        <p style="font-size: 16px; margin-bottom: 10px;"><strong>Skill:</strong> {{ profile.get_skill_display }}</p>
                        <a href="{% url 'detail:sponsor' pk=pk %}" class="btn btn-primary">Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
